*{
    margin: 0;
    padding: 0;
}

.postersize img{
  margin-top: 2rem;
  width: 20rem;
  height: 22rem;
}

.movie{
display: flex;
flex-wrap: wrap;
margin-top: 4rem;
/* margin-bottom: 1rem; */
}

.movies div {
  height: 34rem;
  width: 25rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3rem;
  align-items: center;
  background-color: rgba(69, 77, 14, 0.495);
}

.movies div button {
    padding: 0.5rem 1.5rem;
    /* margin-bottom: 2rem; */
    font-size: 1.4rem;
    border: none;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgba(255, 255, 255, 0.894);
  }
  .movies  button:hover {
    background-color: rgba(19, 170, 181, 0.685);
    cursor: pointer;
    color:black;
    font-weight: bolder;
  }
  .movies div p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.8rem ;
    color: beige;
    font-style:italic;
  }
  .movies div p span {
    color:rgba(0, 0, 0, 0.682);
    font-weight: bolder;
    font-style: italic;
  }
  