*{
    margin: 0%;
    padding: 0%;
}

.book{
    
    width: 70rem;
    margin: 4rem auto;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 3rem;
    /* text-align: center; */
}

.book header{
    margin-bottom: 1rem;
}

.book_action{
    text-align: center;
    margin-top: 1rem;
}

.book_action button{
    padding: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size:medium;
    border-radius: 1rem;
    background-color: rgba(0, 128, 0, 0.669);
    /* color: white; */
    /* text-align: center; */
}